name: Release
run-name: ${{ github.ref_name }} Release

on:
  push:
    branches: 
      - main
      - alpha

jobs:
  call-test-workflow:
    uses: ./.github/workflows/test-flow.yaml
    with:
      from: ${{ github.workflow }}
  release:
    runs-on: ubuntu-latest
    needs: call-test-workflow
    permissions:
      contents: read
      id-token: write
    steps:
      # Use our auto-commit permissioned app for our git actions
      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ secrets.AUTO_COMMIT_APP_ID }}
          private-key: ${{ secrets.AUTO_COMMIT_APP_PKEY }}
      - uses: actions/checkout@v6
        with:
          token: ${{ steps.app-token.outputs.token }}
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
      - name: Enable yarn Berry
        run: corepack enable
      - name: Install
        run: |
          yarn install --immutable
      - name: Build
        run: yarn build
      - name: Release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
